.DS_Store
adblock-rules.json
chrome-extension/rules.json
youtube-mobile-orion-*.zip
youtube-mobile-orion-*.xpi
fuck-youtube-premium-*.zip
fuck-youtube-premium-*.xpi
*_beta-release.zip
*_beta-release.xpi
*_release.zip
*_inline-gear_test.zip
*_search-overlay_test.zip
